- name: Get Partner Lab ClusterDeployment
  kubernetes.core.k8s_info:
    api_key: "{{ k8s_auth_clusterdeployment_reader_key }}"
    api_version: hive.openshift.io/v1
    host: "{{ k8s_auth_admin_host }}"
    kind: ClusterDeployment
    namespace: "{{ generated_name }}"
    name: "{{ generated_name }}"
    persist_config: false
    validate_certs: false
  register: partner_lab_cluster_deployment

- name: Get Partner Lab Kubeconfig
  kubernetes.core.k8s_info:
      api_key: "{{ k8s_auth_secret_reader_key }}"
      api_version: v1
      host: "{{ k8s_auth_admin_host }}"
      kind: Secret
      name: "{{ partner_lab_cluster_deployment.resources[0].spec.clusterMetadata.adminKubeconfigSecretRef.name }}"
      namespace: "{{ generated_name }}"
      persist_config: false
      validate_certs: false
  register: partner_lab_kubeconfig

- name: Create local kubeconfig
  ansible.builtin.copy:
    content: "{{ partner_lab_kubeconfig.resources[0].data.kubeconfig|b64decode }}"
    dest: "./tmp/kubeconfig"
    mode: '0600'

- name: Get Partner Lab kubeadmin password secret
  kubernetes.core.k8s_info:
      api_key: "{{ k8s_auth_secret_reader_key }}"
      api_version: v1
      host: "{{ k8s_auth_admin_host }}"
      kind: Secret
      name: "{{ partner_lab_cluster_deployment.resources[0].spec.clusterMetadata.adminPasswordSecretRef.name }}"
      namespace: "{{ generated_name }}"
      persist_config: false
      validate_certs: false
  register: partner_lab_adminpassword

- name: Extract kubeadmin password to fact
  ansible.builtin.set_fact:
    kubeadmin_password: "{{ partner_lab_adminpassword.resources[0].data.password|b64decode }}"

- name: Create cluster-admins group
  kubernetes.core.k8s:
    kubeconfig: "./tmp/kubeconfig"
    host: "https://api.{{ generated_name }}.openshiftpartnerlabs.com:6443"
    definition:
      apiVersion: user.openshift.io/v1
      kind: Group
      metadata:
        name: cluster-admins
      users:
        "{{ cluster_admins }}"
    state: present
    persist_config: false
    validate_certs: false

- name: Bind cluster-admins group to cluster-admin cluster role
  kubernetes.core.k8s:
    kubeconfig: "./tmp/kubeconfig"
    host: "https://api.{{ generated_name }}.openshiftpartnerlabs.com:6443"
    definition:
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: cluster-admins-group
      subjects:
        - kind: Group
          apiGroup: rbac.authorization.k8s.io
          name: cluster-admins
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: cluster-admin
    state: present
    persist_config: false
    validate_certs: false

- name: Create htpasswd file
  ansible.builtin.command: htpasswd -Bbc {{ generated_name }}.htpasswd kubeadmin {{ kubeadmin_password }}
  delegate_to: localhost

- name: Set htpasswd fact
  ansible.builtin.set_fact:
    kubeadmin_htpasswd: "{{ lookup('file', './{{ generated_name }}.htpasswd') }}"

- name: Create htpasswd secret
  kubernetes.core.k8s:
    kubeconfig: "./tmp/kubeconfig"
    host: "https://api.{{ generated_name }}.openshiftpartnerlabs.com:6443"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ generated_name }}-htpasswd-secret"
        namespace: openshift-config
      type: Opaque
      data:
        htpasswd: "{{ kubeadmin_htpasswd|b64encode }}"
    state: present
    persist_config: false
    validate_certs: false

- name: Create Google IDP client secret
  kubernetes.core.k8s:
    kubeconfig: "./tmp/kubeconfig"
    host: "https://api.{{ generated_name }}.openshiftpartnerlabs.com:6443"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: redhat-google-idp-client-secret
        namespace: openshift-config
      type: Opaque
      data:
        clientSecret: "{{ redhat_google_idp_client_secret|b64encode }}"
    state: present
    persist_config: false
    validate_certs: false

- name: Patch OpenShift OAuth cluster resource
  kubernetes.core.k8s:
    kubeconfig: "./tmp/kubeconfig"
    host: "https://api.{{ generated_name }}.openshiftpartnerlabs.com:6443"
    definition:
      apiVersion: config.openshift.io/v1
      kind: OAuth
      metadata:
        name: cluster
      spec:
        identityProviders:
          - name: RedHat
            mappingMethod: claim
            type: Google
            google:
              clientID: "{{ redhat_google_idp_client_id }}"
              clientSecret:
                name: redhat-google-idp-client-secret
              hostedDomain: "redhat.com"
          - name: "{{ oauth_company_name }}"
            mappingMethod: claim
            type: HTPasswd
            htpasswd:
              fileData:
                name: "{{ generated_name }}-htpasswd-secret"
    state: patched
    persist_config: false
    validate_certs: false

- name: Delete partner lab default kubeadmin secret
  kubernetes.core.k8s:
    kubeconfig: "./tmp/kubeconfig"
    host: "https://api.{{ generated_name }}.openshiftpartnerlabs.com:6443"
    api_version: v1
    kind: Secret
    name: kubeadmin
    namespace: kube-system
    state: absent
    persist_config: false
    validate_certs: false
